# Configuration file

"end biomes to generate" {
    B:"Spectral Garden"=true
}


"nether biomes to generate" {
    B:Boneyard=true
    B:"Corrupted Sands"=true
    B:"Phantasmagoric Inferno"=true
    B:"Polar Chasm"=true
    B:Undergarden=true
    B:"Visceral Heap"=true
}


"overworld (river) biomes to generate" {
    B:"Dry River"=false
    B:"Lush River"=false
}


"overworld (sub) biomes to generate" {
    B:"Alps Forest"=false
    B:"Canyon Ravine"=false
    B:"Coral Reef"=false
    B:Glacier=false
    B:"Kelp Forest"=false
    B:Mangrove=false
    B:"Meadow Forest"=false
    B:Oasis=false
    B:Orchard=false
    B:Quagmire=false
    B:Scrubland=false
    B:Silkglades=false
    B:"Spruce Woods"=false
    B:Tropics=false
    B:Volcano=false
}


"overworld biomes to generate" {
    B:Alps=false
    B:Arctic=false
    B:"Bamboo Forest"=false
    B:Bayou=false
    B:Bog=true
    B:"Boreal Forest"=false
    B:Brushland=false
    B:Canyon=false
    B:Chaparral=false
    B:"Cherry Blossom Grove"=false
    B:"Coniferous Forest"=false
    B:Crag=false
    B:"Dead Forest"=false
    B:"Dead Swamp"=true
    B:"Deciduous Forest"=false
    B:Fen=false
    B:"Flower Field"=false
    B:"Frost Forest"=false
    B:"Fungi Forest"=false
    B:Garden=false
    B:Grassland=false
    B:Grove=false
    B:Heathland=false
    B:Highland=false
    B:"Jade Cliffs"=false
    B:"Lavender Fields"=false
    B:"Lush Desert"=false
    B:"Lush Swamp"=false
    B:"Maple Woods"=false
    B:Marsh=false
    B:Meadow=false
    B:Moor=false
    B:Mountain=false
    B:"Mystic Grove"=false
    B:"Ominous Woods"=false
    B:"Origin Valley"=false
    B:Outback=false
    B:Prairie=false
    B:Rainforest=false
    B:"Redwood Forest"=false
    B:"Sacred Springs"=false
    B:"Seasonal Forest"=false
    B:Shield=false
    B:Shrubland=false
    B:Sludgepit=true
    B:"Snowy Coniferous Forest"=false
    B:Steppe=false
    B:"Temperate Rainforest"=false
    B:Thicket=false
    B:"Tropical Rainforest"=false
    B:Tundra=false
    B:Wasteland=false
    B:Wetland=true
    B:Woodland=false
}


"special biomes to generate" {
    B:"Deep Ocean"=false
    B:"Frozen Ocean"=false
    B:Jungle=false
    B:"Mega Taiga"=false
    B:"Mesa Plateau"=false
    B:"Mesa Plateau F"=false
    B:"Mushroom Island"=false
    B:Ocean=false
}


"vanilla biomes to override" {
    B:"Birch Forest"=true
    B:"Birch Forest Hills"=true
    B:"Cold Taiga"=true
    B:"Cold Taiga Hills"=true
    B:Desert=true
    B:DesertHills=true
    B:"Extreme Hills"=true
    B:"Extreme Hills Edge"=true
    B:Forest=true
    B:ForestHills=true
    B:Hell=true
    B:"Ice Plains"=true
    B:Jungle=true
    B:JungleEdge=true
    B:JungleHills=true
    B:Mesa=true
    B:"Mesa Plateau"=true
    B:"Mesa Plateau F"=true
    B:MushroomIsland=true
    B:MushroomIslandShore=true
    B:Ocean=true
    B:Plains=true
    B:River=true
    B:"Roofed Forest"=true
    B:Savanna=true
    B:"Savanna Plateau"=true
    B:Swampland=true
    B:Taiga=true
    B:TaigaHills=true
}


